body {
  background: linear-gradient(
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)
    ), url(./images/bg.png) no-repeat center center fixed;
  background-size: cover;
}

#app {
  position: relative;
}

#search label {
  color: white;
}

.heading {
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 20px 10px;
}

.product {
  margin: 10px 0;
}

#app .btn {
  background: #000080;
  border-color: #000080;
}

.clickable {
  cursor: pointer;
}

#search {
  padding: 20px;
}

#result-number {
  margin-bottom: 20px;
}

.result, #search {
  color: white;
  background: #333;
  margin-bottom: 40px;
  border: solid thin #ccc;
  border-radius: 4px;
}

.result [class*="col-"] {
  padding: 0;
}

.result .result-info {
  padding: 20px;
}

#map {
  padding: 10px;
  background: black;
}

#map, #standby {
  background: rgba(0, 0, 0, .75);
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5%;
}

#map p {
  margin: 0;
}

.close-window {
  color: white;
  background: black;
}

#standby {
  z-index: 9;
}
